body {
	color: #000000; font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, ,sans-serif; font-size: 12px
}
td {
	color: #000000; font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, ,sans-serif; font-size: 12px
}
th {
	color: #000000; font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, ,sans-serif; font-size: 12px
}
body {
	background-color: #ffffff;
	scrollbar-shadow-color:#666666;
	scrollbar-darkshadow-color:#F0F0F0;
	scrollbar-arrow-color: #000000;
	scrollbar-base-color: #CCCCCC;
	scrollbar-highlight-color: #F0F0F0;
	margin: 1px;
}
A:link {
	COLOR: #000;
	TEXT-DECORATION: none;
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
textArea {
	border: 1px solid #666;
}
.textbox {
	border: 1px solid #666;
	height: 18px;
}
.button {
	background-color: #F0F0F0;
	border: 1px solid #CCC;
	cursor: hand;
}
.white{
	color: #FFF;
}
.tb {
	border-collapse:collapse;
	}
.tb td {
border:1px #999 solid;
padding:3px;
}
.trbg1 {
background-color: #f5f5f5;
}
.trbg2 {
background-color: #fff;
}
.NoEmpty {
	background-color:#FFFFE1; border-top:solid 1px #606060; border-left:solid 1px #606060; border-bottom:solid 1px #FFFFFF; border-right:solid 1px #FFFFFF
}

/*ҳ*/
NoFace
{
    word-break: keep-all}
.SelectedTabStrip A.NoFace:link {
	COLOR: #000000; TEXT-DECORATION: none; cursor:hand
}
.SelectedTabStrip A.NoFace:visited {
	COLOR: #000000; TEXT-DECORATION: none; cursor:hand
}
.SelectedTabStrip A.NoFace:active {
	COLOR: #000000; TEXT-DECORATION: none; cursor:hand
}
.SelectedTabStrip A.NoFace:hover{
	COLOR: #000000; TEXT-DECORATION: none; cursor:hand
}

.TabStrip A.NoFace:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none; cursor:hand
}
.TabStrip A.NoFace:visited {
	COLOR: #FFFFFF; TEXT-DECORATION: none; cursor:hand
}
.TabStrip A.NoFace:active {
	COLOR: #FFFFFF; TEXT-DECORATION: none; cursor:hand
}
.TabStrip A.NoFace:hover{
	COLOR: #FFFFFF; TEXT-DECORATION: none; cursor:hand
}

    
.TabStrip
{
    background-color:#365390; color:#FFFFFF; BORDER-left:1px solid #0A246A; BORDER-top:1px solid #0A246A; BORDER-bottom:1px solid #0A246A; BORDER-right:1px solid #0A246A; border-right:none; padding-top:2pt; padding-bottom:2pt; padding-left:6pt; padding-right:6pt; text-align:center}

.SelectedTabStrip
{
    BORDER-left:1px solid #0A246A; BORDER-top:1px solid #0A246A; BORDER-bottom:none; BORDER-right:1px solid #0A246A; border-right:none; padding-top:2pt; padding-bottom:2pt; padding-left:6pt; padding-right:6pt; text-align:center}

.TabSeparator
{
    border-left:1px solid #0A246A; border-bottom:1px solid #0A246A;}
  
.MultiPage
{
    BORDER-left:1px solid #0A246A; BORDER-bottom:1px solid #0A246A; BORDER-right:1px solid #0A246A; PADDING:4pt; BORDER-TOP:medium none; }

