<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AppSettings" type="System.Web.Configuration.NameValueSectionHandler" />
	</configSections>
	<appSettings>
		<add key="jsfskg" value="" />
		<add key="MyConn" value="Data Source=orcl;User Id=zfxfzb;Password=" />
		<add key="MyPwd" value="*6+%Z?Jll2" /> <!--value="fosf?0[J+t"/>-->
		<add key="HTTP_HOST" value="59.70.169.5" />
		<add key="APPL_PHYSICAL_PATH" value="E:\websever\zjdxgc\" />
		<add key="HTTP1" value="http://59.70.169.5/zjdxgc" />
		<add key="HTTP2" value="http://59.70.169.5/zjdxgc" />
		<add key="HTP" value="2" />
	</appSettings>
	<system.web>
		<compilation defaultLanguage="vb" debug="true" />
		<customErrors mode="RemoteOnly" defaultRedirect="zdy.htm" />
		<httpRuntime executionTimeout="1200" maxRequestLength="40960" />
		<authentication mode="Windows" />
		<authorization>
			<allow users="*" /> <!-- Allow all users  value="Data Source=zfsoft;User Id=zfxfzb;Password=xfzb_5022419_jwgl"-->
		</authorization>
		<sessionState mode="InProc" cookieless="true" timeout="150" />
		<globalization requestEncoding="GB2312" responseEncoding="GB2312" />
	</system.web>
</configuration>
